* {
    background-color: #0C0D24;
    font-size: 100%;
    font-family: "Kanit", sans-serif;

}

.text{
    color: rgb(255, 255, 255);
    font-size: clamp(50px, 7.5vw + 10px, 60px);
    position: absolute;
    top: 35px;
    left: 580.1px;
    padding: 15px;
    text-align: center;

}

p {
    font-size: 13px;
    position: absolute;
    top: 135px;
}

h2 {
    font-size: 20px;
    position: absolute;
    top: 375px;
    left: 60px;
}

h3 {
    font-size: 25px;
    position: absolute;
    top: 230px;
    left: 110px;
}
h4{
    position: absolute;
    top: 340px;
    left: 180px;
    font-size: 15px;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
    }

    li {
        
        float: left;
        margin-right: 25px;
        color: rgb(97, 97, 97);
        list-style-type: none;
        margin: 0.5;
        padding: 0;
        overflow: hidden;
    }
    ul{
        position:absolute;
        top: 770px;
        left: 400px;
    }

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

button {
    background-color: rgb(57, 67, 247);
    color: rgb(255, 255, 255);
    border-radius: 40px;
    margin: 4px 2px;
    width: 300px;
    font-size: clamp(25px, 7.5vw + 10px, 12px);
    border: none;
    cursor: pointer;
}

.login {
    position: absolute;
    left: 620px;
    top: 450px;
    background-color: #0C0D24;
    border: 1px solid white;
}

.regristreer {
    position: absolute;
    top: 325px;
    left: 620px;
}

.login:hover {
    background-color: #242632c7;

}

.regristreer:hover {
    background-color: rgb(79, 88, 252);

}
.logo {
position: absolute;
top: 175px;
left: 150px;
width: 375px;
height: 300px;
}

@media only screen and (max-width: 600px) {
    .text{
        color: rgb(255, 255, 255);
        position: absolute;
        top: 85px;
        left: 50px;
        padding: 15px;
        text-align: center;
    
    }
    .logo {
        position: absolute;
        top: 5px;
        left: 15px;
        width: 95px;
        height: 80px;
        }
        h1{
            font-size: 50px;
            
    
        }
        h2 {
            position: absolute;
            top: 210px;
            left: 80px;
        }
        h3 {
            font-size: 18px;
            position: absolute;
            top: 30px;
            left:110px ;
            top: 200px;

        }
        h4{
            position: absolute;
            font-size: 15px;
            top: 295px;
            left: 170px;
        }
        p {
            font-size: 12px;
            position: absolute;
            top: 110px;
        }
        .login {
            position: absolute;
            left: 40px;
            top: 460px;
            background-color: #0C0D24;
            border: 1px solid white;
        }
        
        .regristreer {
            position: absolute;
            top: 335px;
            left: 70px;
        }
        li:hover{
            text-decoration: underline;
            cursor: pointer;
            }
        
            li {
                
                float: left;
                margin-right: 25px;
                color: rgb(97, 97, 97);
                list-style-type: none;
                margin: 0.5;
                padding: 0;
                overflow: hidden;
            }
            ul{
                position:absolute;
                top: 780px;
                left: 0px;
                font-size: 10px;
            }
        
            li a {
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
    }